<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
    crossorigin="anonymous"
/>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"
></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sora" />

<nav class="navbar nav nav-pills navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse nav-pills px-3 py-1">
        <a class="navbar-brand" (click)="loadTimeSelectPage()">Tomatimer</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item px-2">
                <a class="nav-link" (click)="login()">Login</a>
            </li>
            <li class="nav-item px-2">
                <a
                    class="nav-link"
                    [ngClass]="{
                        active:
                            getCurPage() == 'timeSelect' ||
                            getCurPage() == 'empty'
                    }"
                    (click)="loadTimeSelectPage()"
                    >Select Timer</a
                >
            </li>
            <li class="nav-item px-2">
                <a
                    class="nav-link"
                    [ngClass]="{
                        active: getCurPage() == 'backgroundPage'
                    }"
                    (click)="loadBackgroundPage()"
                    >Background Info</a
                >
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" style="color: #eeeeff; font-size: 1rem">
                    Currently Logged in as: {{ loginName }}
                </a>
            </li>
            <li class="px-2">
                <a class="nav-link" style="float: right">Account Info</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="col-md" style="background-color: #222831ff">
    <div #testDiv></div>
</div>

<!--<app-time-select></app-time-select>-->
<router-outlet></router-outlet>
