<div class="container-fluid">
    <div class="row text-center py-1" style="background-color: #eeeeeeff">
        <h1 class="display-1" style="color: #222831ff">Timer</h1>
    </div>
    <div class="row py-5" style="background-color: #393e46ff">
        <div class="col-md gx-4">
            <h3 style="text-align: center" class="time text-center">
                {{ curStringMinute }} : {{ curStringSecond }}
            </h3>
        </div>
    </div>
</div>
<div
    class="container-fluid"
    style="height: 100%; background-color: #222831ff"
    [@switchState]="{
        value: switchState ? 'first' : 'second'
    }"
>
    <div class="row py-5">
        <div class="col-md">
            <img
                class="img-button btn-center"
                (click)="onStart()"
                src="assets/Start.png"
            />
        </div>
        <div class="col-md">
            <img
                class="img-button btn-center"
                (click)="onReset()"
                src="assets/Reset.png"
            />
        </div>
        <div class="col-md">
            <img
                class="img-button btn-center"
                (click)="onStop()"
                src="assets/Stop.png"
            />
        </div>
    </div>
    <div class="row" style="height: 132px">
        <div class="col-md-fluid">
            <img
                class="skip-img btn-center"
                (click)="onSkipToBreak()"
                src="assets/SkipToBreak.png"
                [ngStyle]="{
                    opacity: isWork ? '1' : '0',
                    'z-index': isWork ? '1' : '0',
                    transition: 'all 0.2s ease'
                }"
            />
            <img
                class="skip-img btn-center"
                (click)="onSkipToBreak()"
                src="assets/SkipToWork.png"
                [ngStyle]="{
                    opacity: isWork ? '0' : '1',
                    'z-index': isWork ? '0' : '1',
                    transition: 'all 0.2s ease'
                }"
            />
        </div>
    </div>
</div>
