<div class="container-fluid">
    <div class="row" style="background-color: #eeeeeeff">
        <div class="col-md">
            <h2 class="display-2 text-center my-4">Custom Time</h2>
        </div>
    </div>
    <div class="row pb-5 pt-3" style="background-color: #393e46ff">
        <div class="col-md">
            <h4 class="display-4 text-center pb-4" style="color: #eeeeeeff">
                Work Time
            </h4>
            <input
                class="form-control input-field"
                (keypress)="numberOnly($event)"
                (input)="updateWork($event)"
            />
        </div>
        <div class="col-md">
            <h4 class="display-4 text-center pb-4" style="color: #eeeeeeff">
                Break Time
            </h4>
            <input
                class="form-control input-field"
                (keypress)="numberOnly($event)"
                (input)="updateBreak($event)"
            />
        </div>
    </div>
    <div class="row py-5" style="background-color: #222831ff">
        <div class="col-md"></div>
        <div class="col-md">
            <img
                class="img-button submit-button"
                (click)="onSubmit()"
                src="assets/submit.png"
            />
        </div>
        <div class="col-md"></div>
    </div>
</div>
