.img-button {
    transition: all 0.2s ease;
    max-width: 60%;
    height: auto;
}

.img-button:hover {
    transform: scale(1.1);
}

.submit-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.input-field {
    width: 25%;
    zoom: 4;
    caret-color: transparent;
}

.custom-invalid {
    border-radius: 1px;
    box-shadow: 0px 0px 0px 4px rgba(217, 83, 79, 0.3);
}

.custom-valid {
    border-radius: 1px;
    box-shadow: 0px 0px 0px 4px rgba(92, 184, 92, 0.3);
}

.back-button {
    height: 96px;
    transition: all 0.2s ease;
}

.back-button:hover {
    transform: scale(1.1);
}
