<div class="container-fluid">
    <div class="row text-center p-4" style="background-color: #eeeeeeff">
        <div class="col-md" style="height: 86px; display: inline">
            <img
                class="text-center back-button"
                src="assets/backButton.png"
                alt="back"
                (click)="onBack()"
            />
        </div>
        <div class="col-md">
            <h2 class="display-1 text-center">Custom Time</h2>
        </div>
        <div class="col-sm"></div>
    </div>
    <div class="row pb-5 pt-3" style="background-color: #393e46ff">
        <div class="col-md">
            <h4 class="display-4 text-center pb-4" style="color: #eeeeeeff">
                Work Time
            </h4>
            <div style="display: inline-block; text-align: center">
                <input
                    class="form-control input-field"
                    (keypress)="numberOnly($event)"
                    (input)="updateWorkMinutes($event)"
                    style="display: inline"
                    [ngClass]="{
                        'custom-valid': workMinutesValid,
                        'custom-invalid': !workMinutesValid
                    }"
                />
                <h4
                    class="display-1"
                    style="
                        display: inline;
                        text-align: center;
                        color: #eeeeeeff;
                    "
                >
                    :
                </h4>
                <input
                    class="form-control input-field"
                    style="display: inline"
                    (keypress)="numberOnly($event, true)"
                    (input)="updateWorkSeconds($event)"
                    [ngClass]="{
                        'custom-valid': workSecondsValid,
                        'custom-invalid': !workSecondsValid
                    }"
                />
            </div>
        </div>
        <div class="col-md">
            <h4 class="display-4 text-center pb-4" style="color: #eeeeeeff">
                Break Time
            </h4>
            <div style="display: inline-block; text-align: center">
                <input
                    class="form-control input-field"
                    (keypress)="numberOnly($event)"
                    (input)="updateBreakMinutes($event)"
                    style="display: inline"
                    [ngClass]="{
                        'custom-valid': breakMinutesValid,
                        'custom-invalid': !breakMinutesValid
                    }"
                />
                <h4
                    class="display-1"
                    style="
                        display: inline;
                        text-align: center;
                        color: #eeeeeeff;
                    "
                >
                    :
                </h4>
                <input
                    class="form-control input-field"
                    style="display: inline"
                    (keypress)="numberOnly($event, true)"
                    (input)="updateBreakSeconds($event)"
                    [ngClass]="{
                        'custom-valid': breakSecondsValid,
                        'custom-invalid': !breakSecondsValid
                    }"
                />
            </div>
        </div>
    </div>
    <div class="row py-5" style="background-color: #222831ff">
        <div class="col-md"></div>
        <div class="col-md">
            <img
                class="img-button submit-button"
                (click)="onSubmit()"
                src="assets/submit.png"
            />
            <h4
                class="display-4 text-center pt-2"
                style="color: #eeeeeeff; font-family: Sora; font-size: 26px"
                [ngStyle]="{ visibility: showError ? 'visible' : 'hidden' }"
            >
                Invalid Input
            </h4>
        </div>
        <div class="col-md"></div>
    </div>
</div>
