<div class="container-fluid">
    <div class="row text-center py-4" style="background-color: #eeeeeeff">
        <div class="col-md">
            <h2 class="display-2 text-center">Account Summary</h2>
        </div>
    </div>
    <div *ngIf="false" class="row py-5" style="background-color: #393e46ff">
        <h2 class="display-3 text-center" style="color: #eeeeeeff">
            Please login to get your productivity tracked and displayed
        </h2>
    </div>
    <div class="row py-5" style="background-color: #393e46ff">
        <div class="col-md">
            <h4 class="text-center p-4 display-4" style="color: #eeeeeeff">
                Summary 1
            </h4>
            <div style="display: block">
                <canvas
                    baseChart
                    [datasets]="donutChartData"
                    [labels]="donutChartLabels"
                    [options]="lineChartOptions"
                    [colors]="donutChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="donutChartType"
                    [plugins]="lineChartPlugins"
                >
                </canvas>
            </div>
        </div>
        <div class="col-md">
            <h4 class="text-center p-4 display-4" style="color: #eeeeeeff">
                Summary 2
            </h4>
            <div style="display: block">
                <canvas
                    baseChart
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins"
                >
                </canvas>
            </div>
        </div>
    </div>
</div>
