<div class="container-fluid">
    <div class="row text-center py-4" style="background-color: #eeeeeeff">
        <div class="col-md">
            <h2 class="display-2 text-center">Account Summary</h2>
        </div>
    </div>
    <div
        *ngIf="!localUUID"
        class="row py-5"
        style="background-color: #393e46ff"
    >
        <h2 class="display-3 text-center" style="color: #eeeeeeff">
            Please login to get your productivity tracked and displayed
        </h2>
    </div>
    <div *ngIf="localUUID" class="row py-5" style="background-color: #636c7a">
        <div class="col-md" style="display: inline-block">
            <h4
                class="text-center display-4"
                style="color: #eeeeeeff; font-size: 35px"
            >
                Work Break Balance
            </h4>
            <div class="p-4" style="display: block">
                <canvas
                    #barChart="base-chart"
                    baseChart
                    [datasets]="donutChartData"
                    [labels]="donutChartLabels"
                    [options]="donutChartOptions"
                    [colors]="donutChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="donutChartType"
                    [plugins]="lineChartPlugins"
                >
                </canvas>
            </div>
        </div>
        <div class="col-md">
            <h4
                class="text-center display-4"
                style="color: #eeeeeeff; font-size: 35px"
            >
                Productivity History
            </h4>
            <div class="p-4" style="display: block">
                <canvas
                    baseChart
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins"
                >
                </canvas>
            </div>
        </div>
    </div>
</div>
