.img-button {
    transition: all 0.2s ease;
    height: 341px;
}

.custom-center {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 500px;
}

.img-button:hover {
    transform: scale(1.1);
}
