<div class="container-fluid">
    <div class="row mt-4 mb-5">
        <div class="col-md">
            <h2 class="display-2 text-center">Select Timer</h2>
        </div>
    </div>
    <div class="row mt-5 mb-0">
        <div class="col-md">
            <h5 class="text-center display-4">Standard</h5>
        </div>
        <div class="col-md">
            <h5 class="text-center display-4">Extra</h5>
        </div>
        <div class="col-md">
            <h5 class="text-center display-4">Custom</h5>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md custom-center">
            <img
                class="img-button"
                src="assets/button_25_5.png"
                (click)="standardClick()"
            />
        </div>
        <div class="col-md custom-center">
            <img
                class="img-button extra-select"
                src="assets/button_50_10.png"
                (click)="extraClick()"
            />
        </div>
        <div class="col-md custom-center">
            <img
                class="img-button custom-select"
                src="assets/button_unknown.png"
                (click)="customClick()"
            />
        </div>
    </div>
    <div class="row"></div>
</div>
