.img-button {
    transition: all 0.2s ease;
    max-width: 70%;
    height: auto;
}

.custom-center {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.img-button:hover {
    transform: scale(1.1);
}
