<div class="container-fluid">
    <div class="row text-center py-4" style="background-color: #eeeeeeff">
        <div class="col-md">
            <h2 class="display-2 text-center">Background Info</h2>
        </div>
    </div>
    <div class="row"></div>
    <div class="row">
        <div class="col" style="background-color: #212121ff"></div>
        <div
            class="col-6 text-center p-3"
            style="
                background-color: #393e46ff;
                border-right: solid white;
                border-left: solid white;
            "
        >
            <h2 class="display-4 p-3" style="color: #eeeeeeff; font-size: 40px">
                What is Tomatimer?
            </h2>
            <hr style="color: white" />
            <p class="p-4" style="color: white">
                Tomatimer is a website intended to improve general productivity
                by helping the user manage their work / break balance through
                repeating timers.
                <br />
                <br />
                The website is mainly intended for use with the pomodoro
                technique, which is a time management system in which the users
                work for 25 minutes and then take 5-minute breaks, repeated for
                four cycles. This website is equipped to deal with any amount of
                work, break lengths depending on the individual users need.

                <br />
                <br />
                In the future, this website is to have an account system, that
                helps track the user's total work time daily, helping the user
                manages how productive they are over a long period of time.
            </p>
            <hr style="color: white" />
            <br />
            <h2 class="display-4 p-3" style="color: #eeeeeeff; font-size: 40px">
                Extra Information
            </h2>
            <p class="p-3" style="color: white">Github Link:</p>
            <a class="link-info" href=" https://github.com/Ohnose/Tomatimer"
                >https://github.com/Ohnose/Tomatimer</a
            >
        </div>
        <div class="col" style="background-color: #212121"></div>
    </div>
</div>
